<a href="https://colab.research.google.com/github/Joshua-Rooban-Rajan/Spotify-Data-Analysis/blob/main/Adventure_Works_data_new_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

# Use raw string for the file path
file_path = r'/content/Copy of Adventure Works 2020.xlsx'

In [16]:
#Loading the excel file
excel_file=pd.ExcelFile(file_path)

In [18]:
#getting the sheet names
sheet_names=excel_file.sheet_names
print(sheet_names)

['Calendar', 'Products', 'Customers', 'Territory', 'Sales', 'dimProductSubCategory', 'dimProductCategory', 'BudgetPeriod', 'Budget']

In [19]:
# Load each sheet into a DataFrame
dataframes = {sheet: excel_file.parse(sheet) for sheet in sheet_names}

# Display the first few rows of each DataFrame
for sheet, df in dataframes.items():
    print(f"\nSheet: {sheet}")
    print(df.head())

Sheet: Calendar
   ID       Date  DayNumberOfWeek   DayName MonthName  MonthNumberOfYear  \
0   1 2016-07-01                6    Friday      July                  7
1   2 2016-07-02                7  Saturday      July                  7
2   3 2016-07-03                1    Sunday      July                  7
3   4 2016-07-04                2    Monday      July                  7
4   5 2016-07-05                3   Tuesday      July                  7

   DayNumberOfYear  WeekNumberOfYear  CalendarQuarter  CalendarYear  \
0              183                27                3          2016
1              184                27                3          2016
2              185                27                3          2016
3              186                28                3          2016
4              187                28                3          2016

   Fiscal Year  FiscalQuarter  DayNumberOfMonth  FiscalSemester  Period  \
0         2016              1                 1               1  201607
1         2016              1                 2               1  201607
2         2016              1                 3               1  201607
3         2016              1                 4               1  201607
4         2016              1                 5               1  201607

   Month ID
0         1
1         1
2         1
3         1
4         1

Sheet: Products
   ProductKey  ProductSubcategoryKey                ProductName  StandardCost  \
0         362                      1     Mountain-200 Black, 46     1105.8100
1         363                      1     Mountain-200 Black, 46     1251.9813
2         364                      1     Mountain-300 Black, 38      598.4354
3         365                      1     Mountain-300 Black, 40      598.4354
4         587                      1  Mountain-400-W Silver, 38      419.7784

    Color  SafetyStockLevel  ListPrice  Size SizeRange  Weight  ...  \
0   Black               100  2049.0982  46.0  42-46 CM   24.13  ...
1   Black               100  2294.9900  46.0  42-46 CM   24.13  ...
2   Black               100  1079.9900  38.0  38-40 CM   25.35  ...
3   Black               100  1079.9900  40.0  38-40 CM   25.77  ...
4  Silver               100   769.4900  38.0  38-40 CM   26.35  ...

   ProductLine DealerPrice  Class       ModelName  \
0            M   1229.4589      H    Mountain-200
1            M   1376.9940      H    Mountain-200
2            M    647.9940      M    Mountain-300
3            M    647.9940      M    Mountain-300
4            M    461.6940      M  Mountain-400-W

                                         Description   Status     SubCategory  \
0  Serious back-country riding. Perfect for all l...      NaN  Mountain Bikes
1  Serious back-country riding. Perfect for all l...  Current  Mountain Bikes
2  For true trail addicts.  An extremely durable ...      NaN  Mountain Bikes
3  For true trail addicts.  An extremely durable ...      NaN  Mountain Bikes
4  This bike delivers a high-level of performance...  Current  Mountain Bikes

  Category  StartDate    EndDate
0    Bikes 2017-07-01 2018-06-30
1    Bikes 2018-07-01        NaT
2    Bikes 2017-07-01 2018-06-30
3    Bikes 2017-07-01 2018-06-30
4    Bikes 2018-07-01        NaT

[5 rows x 21 columns]

Sheet: Customers
   CustomerKey  GeographyKey               Name  BirthDate MaritalStatus  \
0        11000            26           Jon Yang 1986-04-08             M
1        11001            37       Eugene Huang 1985-05-14             S
2        11002            31       Ruben Torres 1985-08-12             M
3        11003            11        Christy Zhu 1988-02-15             S
4        11004            19  Elizabeth Johnson 1988-08-08             S

  Gender  YearlyIncome  NumberChildrenAtHome    Occupation  HouseOwnerFlag  \
0      M         90000                     0  Professional               1
1      M         60000                     3  Professional               0
2      M         60000                     3  Professional               1
3      F         70000                     0  Professional               0
4      F         80000                     5  Professional               1

   NumberCarsOwned         AddressLine1 AddressLine2                Phone  \
0                0      3761 N. 14th St          NaN  1 (11) 500 555-0162
1                1           2243 W St.          NaN  1 (11) 500 555-0110
2                1     5844 Linden Land          NaN  1 (11) 500 555-0184
3                1     1825 Village Pl.          NaN  1 (11) 500 555-0162
4                4  7553 Harness Circle          NaN  1 (11) 500 555-0131

  DateFirstPurchase
0        2016-07-22
1        2016-07-18
2        2016-07-10
3        2016-07-01
4        2016-07-26

Sheet: Territory
   Territory Key     Region        Country          Group
0              1  Northwest  United States  North America
1              2  Northeast  United States  North America
2              3    Central  United States  North America
3              4  Southwest  United States  North America
4              5  Southeast  United States  North America

Sheet: Sales
   OrderDate  OrderDate Key  ProductKey  CustomerKey  SalesTerritoryKey  \
0 2016-07-01       20160701         336        14501                  4
1 2016-07-01       20160701         346        25863                  1
2 2016-07-01       20160701         346        28389                  7
3 2016-07-01       20160701         310        21768                  6
4 2016-07-01       20160701         346        11003                  9

  SalesOrderNumber  SalesOrderLineNumber  OrderQuantity  UnitPrice  \
0          SO43700                     1              1   699.0982
1          SO43699                     1              1  3399.9900
2          SO43698                     1              1  3399.9900
3          SO43697                     1              1  3578.2700
4          SO43701                     1              1  3399.9900

   ExtendedAmount  UnitPriceDiscountPct  DiscountAmount  ProductStandardCost  \
0        699.0982                     0               0             413.1463
1       3399.9900                     0               0            1912.1544
2       3399.9900                     0               0            1912.1544
3       3578.2700                     0               0            2171.2942
4       3399.9900                     0               0            1912.1544

   TotalProductCost  SalesAmount    TaxAmt  Freight RegionMonthID
0          413.1463     699.0982   55.9279  17.4775    Southwest7
1         1912.1544    3399.9900  271.9992  84.9998    Northwest7
2         1912.1544    3399.9900  271.9992  84.9998       France7
3         2171.2942    3578.2700  286.2616  89.4568       Canada7
4         1912.1544    3399.9900  271.9992  84.9998    Australia7

Sheet: dimProductSubCategory
   ProductSubcategoryKey  ProductSubcategoryAlternateKey  \
0                      1                               1
1                      2                               2
2                      3                               3
3                      4                               4
4                      5                               5

  EnglishProductSubcategoryName SpanishProductSubcategoryName  \
0                Mountain Bikes          Bicicleta de montaña
1                    Road Bikes        Bicicleta de carretera
2                 Touring Bikes            Bicicleta de paseo
3                    Handlebars                         Barra
4               Bottom Brackets               Eje de pedalier

  FrenchProductSubcategoryName  ProductCategoryKey
0                          VTT                   1
1                Vélo de route                   1
2            Vélo de randonnée                   1
3                Barre d'appui                   2
4              Axe de pédalier                   2

Sheet: dimProductCategory
   ProductCategoryKey  ProductCategoryAlternateKey EnglishProductCategoryName  \
0                   1                            1                      Bikes
1                   2                            2                 Components
2                   3                            3                   Clothing
3                   4                            4                Accessories

  SpanishProductCategoryName FrenchProductCategoryName
0                  Bicicleta                      Vélo
1                 Componente                 Composant
2                     Prenda                 Vêtements
3                  Accesorio                Accessoire

Sheet: BudgetPeriod
   CalendarYear  MonthName  Month Number  Period
0          2018       July             7  201807
1          2018     August             8  201808
2          2018  September             9  201809
3          2018    October            10  201810
4          2018   November            11  201811

Sheet: Budget
      Category  Budget  Period
0  Accessories   16000  201807
1  Accessories   53000  201808
2  Accessories   56000  201809
3  Accessories   56000  201810
4  Accessories   54000  201811

In [20]:
for sheet, df in dataframes.items():
    print(f"\nSheet: {sheet}")
    print(df.info())
    print(df.isnull().sum())
    # Perform any cleaning specific to this DataFrame
    # For example:
    # df.fillna(method='ffill', inplace=True)
    # df.drop_duplicates(inplace=True)

Sheet: Calendar
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1279 non-null   int64
 1   Date               1279 non-null   datetime64[ns]
 2   DayNumberOfWeek    1279 non-null   int64
 3   DayName            1279 non-null   object
 4   MonthName          1279 non-null   object
 5   MonthNumberOfYear  1279 non-null   int64
 6   DayNumberOfYear    1279 non-null   int64
 7   WeekNumberOfYear   1279 non-null   int64
 8   CalendarQuarter    1279 non-null   int64
 9   CalendarYear       1279 non-null   int64
 10  Fiscal Year        1279 non-null   int64
 11  FiscalQuarter      1279 non-null   int64
 12  DayNumberOfMonth   1279 non-null   int64
 13  FiscalSemester     1279 non-null   int64
 14  Period             1279 non-null   int64
 15  Month ID           1279 non-null   int64
dtypes: datetime64[ns](1), int64(13), object(2)
memory usage: 160.0+ KB
None
ID                   0
Date                 0
DayNumberOfWeek      0
DayName              0
MonthName            0
MonthNumberOfYear    0
DayNumberOfYear      0
WeekNumberOfYear     0
CalendarQuarter      0
CalendarYear         0
Fiscal Year          0
FiscalQuarter        0
DayNumberOfMonth     0
FiscalSemester       0
Period               0
Month ID             0
dtype: int64

Sheet: Products
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             397 non-null    int64
 1   ProductSubcategoryKey  397 non-null    int64
 2   ProductName            397 non-null    object
 3   StandardCost           395 non-null    float64
 4   Color                  341 non-null    object
 5   SafetyStockLevel       397 non-null    int64
 6   ListPrice              395 non-null    float64
 7   Size                   254 non-null    float64
 8   SizeRange              299 non-null    object
 9   Weight                 275 non-null    float64
 10  DaysToManufacture      397 non-null    int64
 11  ProductLine            380 non-null    object
 12  DealerPrice            395 non-null    float64
 13  Class                  312 non-null    object
 14  ModelName              397 non-null    object
 15  Description            396 non-null    object
 16  Status                 197 non-null    object
 17  SubCategory            397 non-null    object
 18  Category               397 non-null    object
 19  StartDate              397 non-null    datetime64[ns]
 20  EndDate                200 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(4), object(10)
memory usage: 65.3+ KB
None
ProductKey                 0
ProductSubcategoryKey      0
ProductName                0
StandardCost               2
Color                     56
SafetyStockLevel           0
ListPrice                  2
Size                     143
SizeRange                 98
Weight                   122
DaysToManufacture          0
ProductLine               17
DealerPrice                2
Class                     85
ModelName                  0
Description                1
Status                   200
SubCategory                0
Category                   0
StartDate                  0
EndDate                  197
dtype: int64

Sheet: Customers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerKey           18484 non-null  int64
 1   GeographyKey          18484 non-null  int64
 2   Name                  18484 non-null  object
 3   BirthDate             18484 non-null  datetime64[ns]
 4   MaritalStatus         18484 non-null  object
 5   Gender                18484 non-null  object
 6   YearlyIncome          18484 non-null  int64
 7   NumberChildrenAtHome  18484 non-null  int64
 8   Occupation            18484 non-null  object
 9   HouseOwnerFlag        18484 non-null  int64
 10  NumberCarsOwned       18484 non-null  int64
 11  AddressLine1          18484 non-null  object
 12  AddressLine2          312 non-null    object
 13  Phone                 18484 non-null  object
 14  DateFirstPurchase     18484 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(6), object(7)
memory usage: 2.1+ MB
None
CustomerKey                 0
GeographyKey                0
Name                        0
BirthDate                   0
MaritalStatus               0
Gender                      0
YearlyIncome                0
NumberChildrenAtHome        0
Occupation                  0
HouseOwnerFlag              0
NumberCarsOwned             0
AddressLine1                0
AddressLine2            18172
Phone                       0
DateFirstPurchase           0
dtype: int64

Sheet: Territory
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Territory Key  11 non-null     int64
 1   Region         10 non-null     object
 2   Country        10 non-null     object
 3   Group          10 non-null     object
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes
None
Territory Key    0
Region           1
Country          1
Group            1
dtype: int64

Sheet: Sales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             60398 non-null  datetime64[ns]
 1   OrderDate Key         60398 non-null  int64
 2   ProductKey            60398 non-null  int64
 3   CustomerKey           60398 non-null  int64
 4   SalesTerritoryKey     60398 non-null  int64
 5   SalesOrderNumber      60398 non-null  object
 6   SalesOrderLineNumber  60398 non-null  int64
 7   OrderQuantity         60398 non-null  int64
 8   UnitPrice             60398 non-null  float64
 9   ExtendedAmount        60398 non-null  float64
 10  UnitPriceDiscountPct  60398 non-null  int64
 11  DiscountAmount        60398 non-null  int64
 12  ProductStandardCost   60398 non-null  float64
 13  TotalProductCost      60398 non-null  float64
 14  SalesAmount           60398 non-null  float64
 15  TaxAmt                60398 non-null  float64
 16  Freight               60398 non-null  float64
 17  RegionMonthID         60398 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(8), object(2)
memory usage: 8.3+ MB
None
OrderDate               0
OrderDate Key           0
ProductKey              0
CustomerKey             0
SalesTerritoryKey       0
SalesOrderNumber        0
SalesOrderLineNumber    0
OrderQuantity           0
UnitPrice               0
ExtendedAmount          0
UnitPriceDiscountPct    0
DiscountAmount          0
ProductStandardCost     0
TotalProductCost        0
SalesAmount             0
TaxAmt                  0
Freight                 0
RegionMonthID           0
dtype: int64

Sheet: dimProductSubCategory
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ProductSubcategoryKey           37 non-null     int64
 1   ProductSubcategoryAlternateKey  37 non-null     int64
 2   EnglishProductSubcategoryName   37 non-null     object
 3   SpanishProductSubcategoryName   36 non-null     object
 4   FrenchProductSubcategoryName    37 non-null     object
 5   ProductCategoryKey              37 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.9+ KB
None
ProductSubcategoryKey             0
ProductSubcategoryAlternateKey    0
EnglishProductSubcategoryName     0
SpanishProductSubcategoryName     1
FrenchProductSubcategoryName      0
ProductCategoryKey                0
dtype: int64

Sheet: dimProductCategory
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ProductCategoryKey           4 non-null      int64
 1   ProductCategoryAlternateKey  4 non-null      int64
 2   EnglishProductCategoryName   4 non-null      object
 3   SpanishProductCategoryName   4 non-null      object
 4   FrenchProductCategoryName    4 non-null      object
dtypes: int64(2), object(3)
memory usage: 288.0+ bytes
None
ProductCategoryKey             0
ProductCategoryAlternateKey    0
EnglishProductCategoryName     0
SpanishProductCategoryName     0
FrenchProductCategoryName      0
dtype: int64

Sheet: BudgetPeriod
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CalendarYear  37 non-null     int64
 1   MonthName     37 non-null     object
 2   Month Number  37 non-null     int64
 3   Period        37 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.3+ KB
None
CalendarYear    0
MonthName       0
Month Number    0
Period          0
dtype: int64

Sheet: Budget
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  62 non-null     object
 1   Budget    62 non-null     int64
 2   Period    62 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.6+ KB
None
Category    0
Budget      0
Period      0
dtype: int64